@font-face {
  font-family: "pixel";
  src: url("../fonts/Web437_IBM_EGA_8x8.woff") format("woff");
}

$font-family-base: pixel;

//define colours
$body-bg: #085a1c;
$body-color: #37aa1d;

$primary: #46d47e;
$secondary: #278751;

$info: #5bc0de;
$warning: #f0ad4e;
$danger: #d9534f;
$success: #5cb85c;
$dark: #032f0e;
$light: #43c175;

//font sizes
$font-size-base: 0.8rem;

$border-width: 2px;

@import 'node_modules/bootstrap/scss/bootstrap';