<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <div class="page-header">
                    <health-bar :character="player" :characters="characters" :turn-index="turnIndex"></health-bar>
                    <health-bar :character="enemy" :characters="characters" :turn-index="turnIndex" :key="enemy.name + index"
                                v-for="(enemy, index) in enemies"></health-bar>
                </div>
                <div class="card bg-transparent text-primary border border-primary p-3">
                    <vue-typed-js :strings="[outputText]" :show-cursor="false" :type-speed="10" :key="jumbotronUpdate">
                        <span class="typing"></span>
                    </vue-typed-js>
                </div>
                <br>
                <button type="button" class="btn btn-primary mr-1" v-for="attack in player.attacks"
                        v-show="turnIndex == PLAYERINDEX"
                        :key="attack.name"
                        @click="activateAttack(attack, enemies[target])"><span class="h5">{{attack.name}}</span>
                </button>
                <button type="button" class="btn btn-info mr-1" v-for="attack in player.specialAttacks"
                        v-show="turnIndex == PLAYERINDEX"
                        :key="attack.name"
                        @click="activateAttack(attack, enemies[target])"><span class="h5">{{attack.name}}</span>
                </button>
                <button type="button" class="btn btn-primary mr-1" v-for="defense in player.defenses"
                        v-show="turnIndex != PLAYERINDEX"
                        :key="defense.name"
                        @click="activateDefense(defense, enemies[turnIndex-1])"><span class="h5">{{defense.name}}</span>
                </button>
                <br>
                <br>
                <div v-show="turnIndex == PLAYERINDEX" class="btn-group-toggle">
                    <label class="btn btn-secondary mr-1" :class="{active: target != index}" :key="enemy.name + index"
                           v-for="(enemy, index) in enemies">
                        <input type="radio" :value="index" v-model="target">{{enemy.name}}
                    </label>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import HealthBar from './HealthBar.vue'
    import BattleJs from '../assets/js/battle.js'
    import StorageJs from '../assets/js/storage.js'

    export default {
        name: 'Battle',
        data: function()
        {
            return {
                PLAYERINDEX: 0,
                floorInventory: [],
                target: 0 ,
                turnIndex: 0,
                characters: [StorageJs.getPlayer(), StorageJs.getGoblinKing()],
                outputText: "",
                jumbotronUpdate: 0
            }
        },
        watch:{
            outputText: function(){
                this.jumbotronUpdate +=1;
            }
        },
        components: {
            HealthBar
        },
        methods: {
            activateAttack: function (attack, enemy) {
                BattleJs.activateAttack(this.player, attack, enemy);
            },
            activateDefense: function (defense, enemy) {
                BattleJs.activateDefense(this.player, defense, enemy);
            }
        },
        computed: {
            player: function () {
                return this.characters[this.PLAYERINDEX];
            },
            enemies: function () {
                return this.characters.slice(1, this.characters.length);
            }
        },
        created: function(){
            BattleJs.initializeBattle(this);
        }
    }
</script>
