<template>
    <div class="container">
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="h3 text-center">At the encampment</div>
                <div class="bs-component">
                    <br>
                    <div>
                        <div v-for="caravan in caravans" class="card bg-transparent border border-primary p-3">
                            <div class="row">
                                <div class="col-lg-2">

                                </div>
                            </div>
                        </div>
                    </div>
                    <br>
                    <button @click="leaveCaravan" class="btn btn-block btn-primary p-3"><span
                            class="h5">Leave Caravan</span></button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import StorageJs from '../assets/js/storage.js'
    import CaravanJs from '../assets/js/caravan.js'

    export default {
        name: 'Caravan',
        data: function () {
            return {
                player: StorageJs.getPlayer(),
                caravans: StorageJs.getCaravan()
            }
        },
        created: function () {
            CaravanJs.initializeCaravan(this);
        }
    }
</script>
