<template>
    <div class="mt-4 mb-4">
        <h4 :class="characters.indexOf(character) == turnIndex? 'text-warning' : ''">{{character.name}}</h4>
        <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" v-bind:style="{width: healthPercentage(character)}">{{character.health}}</div>
            </div>
    </div>
</template>

<script>
    export default {
        name: 'HealthBar',
        props: ['characters', 'character', 'turnIndex'],
        methods: {
            healthPercentage: function (character) {
                return character.health*100/character.maxHealth + `%`
            }
        }
    }
</script>