<template>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <br>
                <br>
                <br>
                <div class="h3 text-center">{{gameTitle}}</div>
                <div class="bs-component">
                    <br>
                    <div class="d-grid gap-2">
                        <button @click="newGame" class="btn btn-block btn-primary p-3"><span class="h5">New Game</span></button>
                        <button disabled @click="loadGame" class="btn btn-block btn-primary p-3"><span
                                class="h5">Load Game</span></button>
                    </div>
                </div>
                <br>
            </div>
        </div>
    </div>
</template>

<script>

    export default {
        name: 'StartScreen',
        props:{
          gamePhase : String
        },
        data: function()
        {
            return {
                gameTitle: "Along the king's road",
                hasSavedGame : false
            }
        },
        methods: {
            newGame: function () {
                this.$store.commit('increment');
                this.$store.commit('increment');
            },
            loadGame: function () {

            }
        },
        created: function(){
            //localStorage.setItem('player', JSON.stringify(playerInit));
            let player = localStorage.getItem("player");
            if(player !== null){
                this.hasSavedGame = true;
            }
        }
    }
</script>
