<template>
    <div id="app">
        <StartScreen v-if="gamePhase === 'start'"></StartScreen>
        <Battle v-if="gamePhase === 'battle'"></Battle>
        <Caravan v-if="gamePhase === 'caravan'"></Caravan>
    </div>
</template>

<script>
    import Battle from './components/Battle.vue'
    import StartScreen from './components/StartScreen.vue'
    import Caravan from './components/Caravan.vue'

    export default {
        name: 'App',
        components: {
          Battle,
          StartScreen,
          Caravan
        },
        computed:{
            gamePhase: function(){
                return this.$store.state.gamePhase;
            }
        }
    }

</script>
